.topbar {
  height: 6.4rem;
  background-color: $black-400;
}

.topbar__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  height: 100%;

  @include bp($lg) {
    margin-right: 3.2rem;
    border-right: 0.1rem solid rgba(white, 0.2);
  }
}

.topbar__btn {
  all: unset;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 6.4rem;
  cursor: pointer;

  &:hover {
    --indicator-bg: #{lighten($black-450, 5%)};
    background-color: lighten($black-450, 5%);
  }
}

.topbar__btn--burger {
  --indicator-bg: #{$black-450};
  background-color: $black-450;

  .indicator {
    &::after {
      box-shadow: 0 0 0 0.4rem var(--indicator-bg);
    }
  }
}

.topbar__btn--user {
  @include bp($sm) {
    position: relative;
    width: auto;
    column-gap: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    &::after {
      content: '';
      flex-shrink: 0;
      width: 1.6rem;
      height: 1.6rem;
      background-image: url('assets/icons/arrow-bottom.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}

.topbar__btn-user-name {
  display: none;
  white-space: nowrap;
  font-size: 1.4rem;
  color: white;

  @include bp($sm) {
    display: block;
  }
}

.topbar__btn-icon {
  display: block;
  width: 3.2rem;
  height: auto;
}

.topbar__btn-icon--burger {
  width: 1.8rem;
}

.topbar__middle {
  display: flex;
  justify-content: flex-end;
  border-left: 0.1rem solid rgba(white, 0.2);
  border-right: 0.1rem solid rgba(white, 0.2);
}

.burger-content {
  display: none;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 4.8rem;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    background-image: url('assets/icons/arrow-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.burger-logo {
  max-width: 100%;
  height: auto;
}

.topbar__btn--open {
  width: 28rem;

  .burger-hide {
    display: none;
  }

  .burger-content {
    display: flex;
  }

  & + .topbar__middle {
    border-left-color: transparent;
  }
}
