$sm: 640px;
$md: 768px;
$lg: 1280px;

@mixin bp($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin bp-max($value) {
  @media screen and (max-width: $value - 1px) {
    @content;
  }
}
